/* ------------------------- Contact page ------------------------- */

.overlay,
.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    opacity: 0;
}

.sending-spinner {
    font-size: 1.5rem;
    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.overlay-active,
.spinner-active {
    opacity: 1;
    transition: opacity 350ms ease-in-out;
    -o-transition: opacity 350ms ease-in-out;
    -moz-transition: opacity 350ms ease-in-out;
    -ms-transition: opacity 350ms ease-in-out;
    -webkit-transition: opacity 350ms ease-in-out;
}

.modal-footer {
    justify-content: center;
}