/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/* ------------------------- General set up -------------------------   */
root {
  /* Font */
  --font-family: 'Roboto', sans-serif;

  /* Colors */
  --color-text-dark: #444;
  --color-text-light: #f1f1f1;  
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button,
a {
    /* will make impossible for the user to select the text in the button */
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    font-family: "Handlee", cursive;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
}

/* ------------------------- Header ------------------------- */
.navbar {
  align-items: center;
  background-color: var(--color-primary);
  display: flex;  
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 100vw;
}

.navbar__logo {
  width: 100px;
}

.navbar__links {
  display: flex;
}

.navbar__link{   
  color: var(--color-text-dark);
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 15px; 
  text-transform: uppercase;

  border: none;
  border-bottom: 2px solid transparent;
  background: transparent;
}

/* the colors variables are not work with hover */
.navbar__link:hover, 
.navbar__link--active{
  color: #1046B3;
  border-bottom: 2px solid #1046B3;
}

/* 
 * SVG styles
 */
#house-svg {
    --mix: 0.0;

    --sky: hsl(184, calc((95% - 15%) * var(--mix) + 15%), 38%);
    --grass-lerp: calc((113 - 45) * var(--mix) + 45);
    --far-grass: hsl(var(--grass-lerp), 31%, 54%);
    --near-grass: hsl(var(--grass-lerp), 37%, 52%);
    --tree-lerp: calc((82 - 38) * var(--mix) + 38);
    --tree-foliage: hsl(var(--tree-lerp), 43%, 49%);
    --sml-tree-foliage: hsl(var(--tree-lerp), 43%, 60%);
    --tree-trunk: hsl(22, calc((39% - 12%) * var(--mix) + 12%), 27%);
}
/* 
sky = #04B2BF - hsl(184, 15%, 38%) to hsl(184, 95%, 38%)
far-grass = #6DAD64 - hsl(45, 31%, 54%) to hsl(113, 31%, 54%)
near-grass = #60B257 - hsl(45, 37%, 54%) to hsl(113, 37%, 52%)
tree-foliage = #8CB347 - hsl(38, 43%, 49%) to hsl(82, 43%, 49%)
tree-trunk = #603E2A - hsl(22, 12%, 27%) to hsl(22, 39%, 27%)
*/

svg .disabled,
svg .disabled * {
    fill: none;
    stroke: none;
}

.metal_x002D_body {
    fill: #CCCCCC;
}

.oven_x002D_door_x002D_body {
    fill: #3A4245;
}

.oven_x002D_cavity {
    fill: #4D5256;
}

.metal_x002D_details {
    fill: #4C5155;
}

.oven_x002D_door_x002D_handle {
    fill: #CCCACD;
}

.oven_x002D_door_x002D_highlight {
    opacity: 0.2;
    fill: #FFFFFF;
}

.metal_x002D_shadow {
    fill: #B3B3B3;
}

.highlight {
    fill: #FFFFFF;
}

.standby_x002D_light {
    fill: #FF3912;
    stroke: #FF3912;
}

.standby_x002D_light.off {
    fill: #FF391200;
}

.water {
    fill: #00B4D5;
    fill-opacity: 0.75;
}

.water_x002D_highlight {
    fill: none;
    stroke: #DBEFF8;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 1, 3;
}

/* Background styles */
.sky {
    fill: var(--sky);
}

.far-grass {
    fill: var(--far-grass);
}

.near-grass {
    fill: var(--near-grass);
}

/* Tree styles */
#tree4 .tree-foliage, #tree3 .tree-foliage,
#tree4 .tree-shadow, #tree3 .tree-shadow {
    --scaleY: calc((1.0 - 0.5) * var(--mix) + 0.5);
    transform-box: fill-box;
    transform-origin: bottom center;
    transform: scaleX(var(--mix)) scaleY(var(--scaleY));
    fill: var(--tree-foliage);
}

#tree2 .tree-foliage, #tree1 .tree-foliage,
#tree2 .tree-shadow, #tree1 .tree-shadow {
    transform-box: fill-box;
    transform-origin: bottom center;
    transform: scale(var(--mix));
    fill: var(--sml-tree-foliage);
}

.tree-shadow {
    fill: var(--tree-foliage);
    mix-blend-mode: multiply;
}

.tree-trunk {
    fill: var(--tree-trunk);
}

/* Object trigger styles */
.object-outline {
    fill: #00000000;
    stroke: none;
}

.power-station-outline {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #00000000;
    stroke: none;
}

.object-outline:hover {
    fill: red;
}

.power-station-outline:hover,
#power-station-trigger:hover > .power-station-outline {
    fill: red;
}