/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/* ------------------------- General set up -------------------------   */

:root {
  /* Font */
  --font__family: 'Roboto', sans-serif;
  --font__title--size: 30px;
  --font__title--weight: 300;
  --font__text--size: 20px;
  --font__text--weight: 400;

  /* Colors */
  --color__text--dark: #333;
  --color__text--light: #f1f1f1;  
  --color__primary: #1046B3;
  --color__secondary: #006400;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-family: var(--font__family);
}

li {
    list-style: none;
}

button,
a {
    /* will make impossible for the user to select the text in the button */
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    font-family: var(--font__family);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
}

/* ------------------------- Header ------------------------- */
.navbar {
  align-items: center;
  display: flex;  
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 100vw;
}

.navbar__logo {
  width: 100px;
}

.navbar__links {
  display: flex;
}

.navbar__link{   
  color: var(--color__text--dark);
  font-size: 20px;
  font-family: var(--font__family);
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 8px; 
  margin: 0 15px;
  text-transform: uppercase;

  border: none;
  border-bottom: 2px solid transparent;
  background: transparent;
}

.navbar__link:hover, 
.navbar__link:active,
.navbar__link--active {
  color: var(--color__secondary);
  border-bottom: 2px solid var(--color__secondary);
}
